.flow-chart-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
}

.flow-chart-canvas:focus {
  outline: none;
}

.vue-flow-container {
  width: 100%;
  height: 100%;
}

.vue-flow__node {
  transition: all 0.2s ease;
}

